:root {
    --primary-color: #5a639c;
    --secondary-color: #d9d9d9;
    --tertiary-color: #7776b3;
    --hover-color: #d4a5d6;
    --generate-bg-color: #c9e5c0;
    --clear-bg-color: #faa0a0;
    --copy-bg-color: #f9f871;
    --margin-standard: 1rem;
    --padding-standard: 1rem;
    --margin-bottom-large: 2rem;
    --width-full: 100%;
    --width-fixed: 300px;
    --button-padding: 0.5rem 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#container {
    margin-top: var(--margin-bottom-large);
    margin-bottom: var(--margin-bottom-large);
}

h1 {
    text-align: center;
    margin-bottom: var(--margin-bottom-large);
}

div#list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: var(--width-full);
}

div.category {
    margin: var(--margin-standard);
    padding: var(--padding-standard);
    background-color: var(--tertiary-color);
}

div.category h3 {
    margin-bottom: var(--margin-standard);
}

div#list div.category div.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--width-full);
    padding: var(--padding-standard);
    background-color: var(--secondary-color);
    width: var(--width-fixed);
    cursor: pointer;
    text-transform: capitalize;
    color: var(--primary-color);
}

div#list div.category div.list-item:hover {
    background-color: var(--hover-color);
}

div#list div.category div.list-item.selected {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

div#list div.category div.list-item input[type="checkbox"] {
    display: none;
}

div#buttons {
    display: flex;
    justify-content: center;
    margin-top: var(--margin-bottom-large);
}

div#displayArea {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: var(--margin-bottom-large);
    margin-bottom: var(--margin-bottom-large);
}

div#displayArea li {
    list-style-type: none;
    margin: 0.5rem;
    color: var(--secondary-color);
    text-transform: capitalize;
}

button {
    color: var(--primary-color);
    border: none;
    padding: var(--button-padding);
    cursor: pointer;
    font-weight: bold;
    margin: 0 var(--margin-standard);
}

button#generateList {
    background-color: var(--generate-bg-color);
}

button#clearList {
    background-color: var(--clear-bg-color);
}

button#copyList {
    background-color: var(--copy-bg-color);
}

div#selectedList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}