* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #5a639c;
    color: #e2bbe9;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

div#list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

div.category {
    margin: 1rem;
    padding: 1rem;
    background-color: #7776b3;
}

div.category h3 {
    margin-bottom: 1rem;
}

div#list div.category div.list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    background-color: #e2bbe9;
    width: 300px;
    cursor: pointer;
    text-transform: capitalize;
    color: #5a639c;
}

div#list div.category div.list-item:hover {
    background-color: #d4a5d6;
}

div#list div.category div.list-item input[type="checkbox"] {
    display: none;
}

div#list div.category div.list-item input[type="checkbox"]:checked + label {
    text-decoration: line-through;
}

div#buttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

div#displayArea {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

div#displayArea li {
    list-style-type: none;
    margin: 0.5rem;
    color: #e2bbe9;
    text-transform: capitalize;
}

button {
    color: #5a639c;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
    margin: 0 1rem;
}

button#generateList {
    background-color: #c9e5c0;
}

button#clearList {
    background-color: #faa0a0;
}

button#copyList {
    background-color: #f9f871;
}